/* Media Queries */
@media only screen and (max-width: 500px) {
    #calculator {
      width: 40%;
    }
  
    .button-container {
      height: 50vh;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #calculator {
      width: 80%;
    }
  
    body {
      background-color: #FCD8A8;
    }
  
    .buttons {
      flex-direction: row;
    }
  
    .button {
      margin: 5px 0;
    }
  
    .button-container {
      margin-bottom: 5px; 
    }
  }
  
  @media only screen and (max-width: 700px) {
    #calculator {
      width: 70%;
    }
  
    .button-container {
      height: 50vh;
    }
  }
  @media only screen and (max-width: 800px) {
    #calculator {
      width: 50%;
    }
  
    .button-container {
      height: 50vh;
    }
  }
  @media only screen and (max-width: 900px) {
    #calculator {
      width: 50%;
    }
  
    .button-container {
      height: 50vh;
    }
  }
  
  